.dashboard .active {
  background-color: #f33823;
  color: white;
  font-weight: 600;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: gray;
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: rgba(128, 128, 128, 0.606);
}
